/* ======================
   1. VARIABLES & CONFIG 
   ====================== */
:root {
    --body: #38244C;
    --cards: #F4DDF3;
    --text: #000000;
    --button: #FFC5FC;
}

/* =======================
   2. BASE STYLES
   ======================= */
* {
    box-sizing: border-box;
    /* Důležité pro Grid !!! */
}

body {
    margin: 0;
    background-color: var(--body);
    font-family: Inria Serif;
    color: var(--text);
    font-size: 24px;
}

/* Odstranění marginů */
h1, h2, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Button (Home) */
.home-btn {
    background-color: var(--button);
    color: var(--text);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: large;
    text-decoration: none;

    width: 35%;
    height: 7vh;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.home-btn:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

/* Barvy boxů */
.contact, .services {
    background-color: var(--cards);
    border-radius: 20px;
}

/* Zarovnání textů v boxech */
.contact, .services {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
    text-align: center;

    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    gap: 20px;
}

/* === HLAVNÍ OBAL (Drží celou výšku okna) === */
.main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    /* Zastropování šířky */
    width: 100%; /* Normálně zabere vše */
    max-width: 1400px; /* Maximálně 1400px */

    /* Centrování celého webu doprostřed */
    margin: 0 auto;
}

/* 3. === OBSAH === */
.container {
    flex: 1; /* Roztáhne se do veškerého volného místa */
    display: grid;
    grid-template-columns: 1.5fr 1.5fr; /* 2 stejně široké sloupce */
    gap: 20px; /* Mezera mezi sloupci */
    min-height: 0;

    /* POZN.: Výpočet Gridu */
    /* Celková šířka 1.6 + 1.3 + 1.0 = 3.9 */
    /* Levý sloupec 1.6 / 3.9 = cca 41% */
    /* Center 1.3 / 3.9 = cca 33% */
    /* Pravý sloupec 1.0 / 3.9 = cca 25% */
}

/* === 4. FOOTER === */
footer {
    background-color: var(--cards);
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Footer chceme fakt na střed */
    align-items: center;
    text-align: center;
    padding: 0 20px; /* Jen boční padding */
    height: 40px; /* Pevná výška */
    flex-shrink: 0;
    font-size: 18px;
} 

/* Responsive Exceptions */
/* Mobil & Tablet */
@media (max-width: 1024px) {
    /* 1. Hlavní obal - scrollování */
    .main-wrapper {
        height: auto;
        padding: 10px;
        display: block;
    }


/* Kontejner na 1 sloupec místo 2 */
    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

/* Contact & Services Height*/
    .contact, .services {
        min-height: 300px;
        width: 100%;

        justify-content: center;
        padding: 20px;
    }

/* Button */
    .home-btn {
        margin-top: 20px;
        width: 100%;
        height: 80px;
        font-size: larger;
    }

    footer {
        margin-top: 20px;
    }
}