/* ======================
   1. VARIABLES & CONFIG 
   ====================== */
:root {
    --body: #2d213d;
    --cards: #F7E6DE;
    --text: #000000;
    --button: #E5B3BB;
}

/* =======================
   2. BASE STYLES
   ======================= */
* { box-sizing: border-box; }

body {
    margin: 0;
    background-color: var(--body);
    font-family: Inria Serif, serif;
    color: var(--text);
    font-size: 24px;
}

h1, h2 { margin: 0; }
a { text-decoration: none; color: inherit; }

/* === HLAVNÍ OBAL (Drží celou výšku okna) === */
.main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    /* Zastropování šířky */
    width: 100%; /* Normálně zabere vše */
    max-width: 1400px; /* Maximálně 1400px */

    /* Centrování celého webu doprostřed */
    margin: 0 auto;
}

/* === 3. HLAVIČKA === */
header {
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cards);
    border-radius: 20px;
}

/* 4. === OBSAH === */
.columns-container {
    flex: 1; /* Roztáhne se do veškerého volného místa */
    display: grid;
    grid-template-columns: 0.7fr 2fr; /* 2 různě široké sloupce */
    gap: 20px; /* Mezera mezi sloupci */
    min-height: 0;
}

/* Barvy boxů */
nav, .grid-gallery {
    background-color: var(--cards);
    border-radius: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.nav-button {
    background-color: var(--button);
    border-radius: 20px;

    width: 90%;
    min-height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: 40px;
}

/* Hover efekt pro tlačítka */
.nav-button:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 50px;
    padding: 60px 20px;
}

.project-card {
    display: block;
    border-radius: 10px;
    overflow: hidden; /* Obrázek se drží zaoblení */
    color: inherit;
    text-decoration: none;
    border: 5px solid var(--body);
}

.project-card img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
}

.card-content { 
    padding: 14px; 
    text-align: center;
    border-top: 5px solid var(--body);
}

.card-content h3 { 
    margin: 0; 
    font-size: 25px;
}

/* === 5. FOOTER === */
footer {
    background-color: var(--cards);
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Footer chceme fakt na střed */
    align-items: center;
    text-align: center;
    padding: 0 20px; /* Jen boční padding */
    height: 40px; /* Pevná výška */
    flex-shrink: 0;
    font-size: 18px;
} 

/* Responsive Exceptions */
@media (max-width: 1024px) {
        /* 1. Hlavní obal - scrollování */
    .main-wrapper {
        height: auto;
        padding: 10px;
        display: block;
    }

    /* Kontejner na 1 sloupec místo 3 */
    .columns-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    nav {
        margin-top: 20px;
    }

    .nav-button {
        margin: 20px;
    }

    footer {
        margin-top: 20px;
    }
}