/* ======================
   1. VARIABLES & CONFIG 
   ====================== */
:root {
    --body: #2d213d;
    --cards: #F7E6DE;
    --text: #000000;
    --button: #E5B3BB;
}
/* =======================
   2. BASE STYLES
   ======================= */
* {
    box-sizing: border-box;
    /* Důležité pro Grid !!! */
}

body {
    margin: 0;
    background-color: var(--body);
    font-family: Inria Serif;
    color: var(--text);
    font-size: 24px;
}

/* Odstranění marginů */
h1, h2, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Button (Home) */
.home-btn {
    background-color: var(--button);
    color: var(--text);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: large;
    text-decoration: none;

    width: 35%;
    height: 7vh;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.home-btn:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

/* Barvy boxů */
header, .ui-heading, .ui-text, .ux-heading, .ux-text {
    background-color: var(--cards);
    border-radius: 20px;
}

/* Zarovnání textů v boxech */
header, .ui-heading, .ui-text, .ux-heading, .ux-text {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px;
    gap: 20px;
}

/* === HLAVNÍ OBAL (Drží celou výšku okna) === */
.main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    /* Zastropování šířky */
    width: 100%; /* Normálně zabere vše */
    max-width: 1400px; /* Maximálně 1400px */

    /* Centrování celého webu doprostřed */
    margin: 0 auto;
}

/* 3. === OBSAH === */
.container {
    flex: 1; /* Roztáhne se do veškerého volného místa */
    display: grid;
    grid-template-columns: 1.5fr 1.5fr; /* 3 různě široké sloupce */
    gap: 20px; /* Mezera mezi sloupci */
    min-height: 0;

    /* POZN.: Výpočet Gridu */
    /* Celková šířka 1.6 + 1.3 + 1.0 = 3.9 */
    /* Levý sloupec 1.6 / 3.9 = cca 41% */
    /* Center 1.3 / 3.9 = cca 33% */
    /* Pravý sloupec 1.0 / 3.9 = cca 25% */
}

/* Nastavení uvnitř sloupců */
.left-column, .right-column {
    display: flex;
    flex-direction: column; /* Boxy pod sebou */
    gap: 20px;
    height: 100%;
}

.ui-heading, .ux-heading {
    flex: 0.5;
    min-height: 0;
}

.ui-text, .ux-text {
    flex: 4;
}

/* === 4. FOOTER === */
footer {
    background-color: var(--cards);
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Footer chceme fakt na střed */
    align-items: center;
    text-align: center;
    padding: 0 20px; /* Jen boční padding */
    height: 40px; /* Pevná výška */
    flex-shrink: 0;
    font-size: 18px;
} 

/* Responsive Exceptions */
/* Mobil & Tablet */
@media (max-width: 1024px) {
    /* 1. Hlavní obal - scrollování */
    .main-wrapper {
        height: auto;
        padding: 10px;
        display: block;
    }

    /* Kontejner na 1 sloupec místo 3 */
    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home-btn {
        margin-top: 20px;
        width: 100%;
    }

    /* Header & Footer (mezery) */
    header {
        margin-bottom: 20px;
    }

    footer {
        margin-top: 20px;
        height: 40px;
        padding: 20px;
    }
}